@import url("https://fonts.googleapis.com/css?family=Patua+One");

body{
	margin: 0px;
	padding: 0px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/photoframe.jpg);
	background-repeat: repeat-x;
	background-size: cover;
}

p{
	padding: 16px 16px 60px 16px;
	margin: 16px;
	font-size: 5vw;
	font-family: 'Patua One', cursive;
	color: #ea8d5b;
	-webkit-text-stroke-color: #333;
	-webkit-text-stroke-width: 2px;
}

@media screen and (max-width: 920px){
	body{
	background-image: url(/images/photoframe.jpg);
	background-repeat: repeat-x;
	background-size: 920px;	
	}

}

.myButton {
	background-color:#317572;
	display: inline-block;
	cursor:pointer;
	font-size: 4vw;
	padding: 25px 30px;
	text-decoration:none;
	border: 0;
	transition: all 0.6s ease 0s;
	font-family: 'Patua One', cursive;
}
.myButton:hover {
	background-color: #b88aa1;
}

.myButton:active {
	position:relative;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.navbar{
	list-style-type: none;
	top: 0;
	margin: 0;
	padding: 0;
	position: static;
	/*background-color: #317572;*/
	background-color: rgba(49, 117, 114, 0.7);
	border-radius: 15px 15px 0px 0px;
}

.navbar-content{
	display: inline-block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li{
	float: left;
}

li a{
	display: block;
	margin-right: 20px;
	text-align: center;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Patua One', cursive;
}

.stretchedToMargin {
	display: block;
	position:absolute;
	height:auto;
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:80px;
	margin-left:80px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}