body#layout ul{list-style-type:none;list-style:none}
body#layout ul li{list-style-type:none;list-style:none}
body#layout #headerbwrap {height:auto;}
body#layout #blogtitle {min-height:120px;}
body#layout #content {}
body#layout #slider {display:none;}
body#layout .sidebarrdivsearch {display:none;}
body#layout #headbox{display:none;}
body#layout #nav2{width:90%;}
/* Variable definitions
====================
*/
/* Use this with templates/template-twocol.html */
.section, .widget {
margin:0;
padding:0;
}
/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, th {
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}
html {
font-size: 62.5%;
/* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
overflow-y: scroll;
/* Keeps page centered in all browsers regardless of content height */
-webkit-text-size-adjust: 100%;
/* Prevents iOS text size adjust after orientation change, without disabling user zoom */
-ms-text-size-adjust: 100%;
/* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after {
/* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
-webkit-box-sizing: border-box;
/* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
-moz-box-sizing: border-box;
/* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
box-sizing: border-box;
}
body {
background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
display: block;
}
ol, ul {
list-style: none;
}
table {
/* tables still need 'cellspacing="0"' in the markup */
border-collapse: separate;
border-spacing: 0;
}
caption, th, td, th {
font-weight: normal;
text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}
a:focus {
outline: thin dotted;
}
a:hover,
a:active {
outline: 0;
}
a img {
border: 0;
}
/* =Rebuild
----------------------------------------------- */
* html {
font-size: 100%;
}
html {
font-size: 16px;
line-height: 1.5em;
}
body,
button,
input,
select,
textarea {
color: #404040;
font-family: Georgia, "Bitstream Charter", serif;
font-size: 16px;
font-weight: 400;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
clear: both;
}
hr {
border: 1px solid #ccc;
border-width: 0 0 1px 0;
height: 0;
margin-top: -1px;
margin-bottom: 24px;
padding-top: 24px;
}
/* Text elements */
p {
margin-bottom: 24px;
}
ul, ol {
margin: 0px;
padding:0px;
list-style-type:none;
list-style:none
}
ul {
}
ol {
list-style: decimal;
}
li > ul,
li > ol {
margin-bottom: 0;
margin-left: 24px;
}
dt {
font-weight: 600;
}
dd {
margin: 0 24px 24px;
}
b, strong {
font-weight: 600;
}
dfn, cite, em, i {
font-style: italic;
}
blockquote {
margin: 0 24px;
}
address {
margin: 0 0 24px;
}
pre {
background: rgba(119, 119, 119, 0.5);
font-family: "Courier 10 Pitch", Courier, monospace;
font-size: 0.9375em;
line-height: 1.6em;
margin-top: -2px;
margin-bottom: 24px;
max-width: 100%;
overflow: auto;
padding: 24px;
}
code, kbd, tt, var {
font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
font-size: 0.875em;
line-height: 1.71429em;
}
abbr, acronym {
border-bottom: 1px dotted #666;
cursor: help;
}
mark, ins {
background: #fff9c0;
text-decoration: none;
}
sup,
sub {
font-size: 75%;
height: 0;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sup {
bottom: 1ex;
}
sub {
top: .5ex;
}
small {
font-size: 75%;
}
big {
font-size: 125%;
}
figure {
margin: 0;
}
table {
margin: 0 0 24px;
width: 100%;
}
th {
font-weight: bold;
}
img {
height: auto;
/* Make sure images are scaled correctly. */
max-width: 100%;
/* Adhere to container width. */
}
/* Alignment */
.alignleft {
display: inline;
float: left;
margin-right: 24px;
}
.alignright {
display: inline;
float: right;
margin-left: 24px;
}
.aligncenter {
clear: both;
display: block;
margin: 0 auto;
}
/* Text meant only for screen readers */
.screen-reader-text {
clip: rect(1px, 1px, 1px, 1px);
position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
background-color: #fff;
border: 1px solid #000;
-webkit-box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 10px;
-moz-box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 10px;
box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 10px;
clip: auto !important;
display: inline-block;
font-weight: 600;
line-height: 24px;
padding: 24px;
z-index: 100000;
position: absolute !important;
top: 24px;
left: 24px;
}
/* Clearing */
.clear:before,
.clear:after {
content: '';
display: table;
}
.clear:after {
clear: both;
}
.entry-content:before,
.entry-content:after {
content: '';
display: table;
}
.entry-content:after {
clear: both;
}
.comment-content:before,
.comment-content:after {
content: '';
display: table;
}
.comment-content:after {
clear: both;
}
.site-header:before,
.site-header:after {
content: '';
display: table;
}
.site-header:after {
clear: both;
}
.bwrapsite-content:before,
.bwrapsite-content:after {
content: '';
display: table;
}
.bwrapsite-content:after {
clear: both;
}
.site-footer:before,
.site-footer:after {
content: '';
display: table;
}
.site-footer:after {
clear: both;
}
/* =Forms
----------------------------------------------- */
button,
input,
select,
textarea {
margin: 0;
/* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
vertical-align: baseline;
/* Improves appearance and consistency in all browsers */
*vertical-align: middle;
/* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
border: 1px solid #ccc;
border-color: #ccc #ccc #bbb #ccc;
border-radius: 3px;
background: #e6e6e6;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
color: rgba(0, 0, 0, 0.8);
cursor: pointer;
/* Improves usability and consistency of cursor style between image-type 'input' and others */
-webkit-appearance: button;
/* Corrects inability to style clickable 'input' types in iOS */
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
border-color: #ccc #bbb #aaa #bbb;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
border-color: #aaa #bbb #bbb #bbb;
box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
padding: 0;
/* Addresses excess padding in IE8/9 */
}
input[type="search"] {
-webkit-appearance: textfield;
/* Addresses appearance set to searchfield in S5, Chrome */
-webkit-box-sizing: content-box;
/* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
-moz-box-sizing: content-box;
box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
/* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
border: 0;
padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
color: #666;
border: 1px solid #ccc;
border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
padding: 3px;
}
textarea {
overflow: auto;
/* Removes default vertical scrollbar in IE6/7/8/9 */
padding-left: 3px;
vertical-align: top;
/* Improves readability and alignment in all browsers */
width: 98%;
}
* html {
font-size: 112.5%;
}
html {
font-size: 18px;
line-height: 1.5em;
}
h6, button,
input[type="button"],
input[type="reset"],
input[type="submit"], .site-footer, .main-navigation, .secondary-navigation, a.nbtmore-link, .nbtentry-meta, .nbtentry-meta a, .pingback .edit-link,
.trackback .edit-link, #cancel-comment-reply-link, .reply, .comment-metadata, .comment-metadata a, .comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment, #infinite-footer .blog-info a,
#infinite-footer .blog-credits, #infinite-handle span {
letter-spacing: 0px;
text-transform: uppercase;
}
.entry-format, .hentry:before, .togglesnbtdiv .togglenbtclass:before, .nbtcomments-link:before,
.nbtpost-date:before,
.sticky .nbtpost-date:before,
.nbttags-links:before,
.nbtbyline:before,
.edit-link:before, .page-title:before, .bwrapsite-content [class*="paging-navigation"] a:before,
.bwrapsite-content [class*="post-navigation"] a:before, #cancel-comment-reply-link:before, .reply:before, .bwrapsocial-links ul a:before {
-webkit-font-smoothing: antialiased;
font-family: "FontAwesome";
font-size: 24px;
font-style: normal;
font-weight: normal;
line-height: 1;
text-decoration: none;
vertical-align: text-bottom;
}
.entry-format, .hentry:before {
font-size: 2.61111em;
line-height: 1.14894em;
background: #f45145;
border-radius: 50%;
color: white;
display: block;
line-height: 80px;
margin-left: -40px;
position: absolute;
top: -44px;
left: 50%;
text-align: center;
width: 80px;
height: 80px;
}
@media screen and (max-width: 47.2226em) {
.entry-format, .hentry:before {
font-size: 1.61111em;
line-height: 1.86207em;
width: 60px;
height: 60px;
top: -32px;
margin-left: -30px;
line-height: 60px;
}
}
/* =Global */
body {
background: #f0f1f3;
color: #656e7f;
font-family: "PT Serif","Source Sans Pro", Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 300;
line-height: 27px;
}
button,
input,
select,
textarea {
background: white;
color: #242d36;
font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
/* Alignment */
.alignleft {
display: inline;
float: left;
margin: 13.5px 27px 13.5px 0;
}
.alignright {
display: inline;
float: right;
margin: 13.5px 0 13.5px 27px;
}
.aligncenter {
clear: both;
display: block;
margin: 13.5px auto;
}
/* Headings */
h1 {
line-height: 0.57447em;
color: #242d36;
font-family: "PT Serif", Georgia, Times, serif;
font-size: 47px;
margin: 27px 0;
}
h2 {
line-height: 0.93103em;
color: #242d36;
font-family: "PT Serif", Georgia, Times, serif;
font-size: 32px;
margin: 27px 0;
}
h3 {
line-height: 1.17391em;
color: #242d36;
font-family: "PT Serif", Georgia, Times, serif;
font-size: 23px;
margin: 27px 0;
}
h4 {
line-height: 1.5em;
color: #242d36;
font-family: "PT Serif", Georgia, Times, serif;
font-size: 18px;
margin: 27px 0;
}
h5 {
line-height: 1.5em;
color: #242d36;
font-family: "PT Serif", Georgia, Times, serif;
font-size: 18px;
margin: 27px 0;
}
h6 {
line-height: 1.8em;
color: #242d36;
font-family: "PT Serif", Georgia, Times, serif;
font-size: 15px;
margin: 27px 0;
}
h5 {
font-style: italic;
}
hr {
background-color: #242d36;
height: 1px;
margin-bottom: 26px;
padding: 0;
}
/* Text elements */
p {
margin-bottom: 27px;
}
ul {
margin: 0px;
padding:0px;
list-style-type:none;
list-style:none
}
ul ul {
list-style: square;
}
ul ul ul {
list-style: circle;
}
ol {
margin: 0 0 10px 17px;
list-style: decimal;
}
ol ol {
list-style: lower-alpha;
}
ol ol ol {
list-style: lower-roman;
}
li > ul,
li > ol {
margin-bottom: 0;
margin-left: 27px;
}
dt {
font-weight: 400;
}
dd {
margin: 13.5px 0 13.5px 27px;
}
b, strong {
font-weight: bold;
}
dfn, cite, em, i {
font-style: italic;
}
blockquote {
color: #9ba2af;
font-family: "PT Serif", Georgia, Times, serif;
border-left: 5px solid rgba(155, 162, 175, 0.25);
margin-left: 0;
margin-right: 0;
margin-bottom: 27px;
padding-left: 27px;
}
blockquote blockquote {
font-size: inherit;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-size: 0.83333em;
line-height: 1.8em;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #242d36;
border: 0;
border-radius: 0;
color: #f0f1f3;
padding: 13.5px 27px;
text-shadow: none;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #242d36;
color: rgba(240, 241, 243, 0.7);
}
@media screen and (max-width: 47.2226em) {
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
font-size: 0.83333em;
line-height: 1.8em;
padding: 13.5px;
width: 100%;
}
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
background: #f9f9fa;
border: 1px solid #f0f1f3;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
max-width: 100%;
padding: 12.5px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
background: white;
border: 1px solid #f77e75;
outline: none;
}
@media screen and (max-width: 47.2226em) {
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
padding: 13.5px;
width: 100%;
}
}
textarea {
background: #f9f9fa;
border: 1px solid #f0f1f3;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
max-width: 100%;
padding: 12.5px;
}
textarea:focus {
background: white;
border: 1px solid #f77e75;
outline: none;
}
@media screen and (max-width: 47.2226em) {
textarea {
padding: 13.5px;
width: 100%;
}
}
address {
font-style: italic;
margin-bottom: 27px;
}
pre {
background: rgba(0, 0, 0, 0.03);
font-family: "Courier 10 Pitch", Courier, monospace;
font-size: 0.83333em;
line-height: 1.8em;
margin-bottom: 27px;
padding: 27px;
overflow: auto;
max-width: 100%;
}
code, kbd, tt, var {
font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
font-size: 0.83333em;
line-height: 1.8em;
}
abbr, acronym {
border-bottom: 1px dotted #9ba2af;
cursor: help;
margin-bottom: 26px;
}
mark, ins {
background: fff9c0;
text-decoration: none;
}
sup,
sub {
font-size: 0.83333em;
line-height: 1.8em;
height: 0;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sup {
bottom: 1ex;
}
sub {
top: 0.5ex;
}
small {
font-size: 0.83333em;
line-height: 1.8em;
}
big {
font-size: 1.27778em;
line-height: 1.17391em;
}
figure {
margin: 0;
}
table {
margin-bottom: 27px;
width: 100%;
}
td, th {
border-bottom: 1px solid rgba(155, 162, 175, 0.25);
border-collapse: collapse;
padding: 6.75px 3px 5.75px;
}
th {
font-weight: 700;
}
img {
height: auto;
max-width: 100%;
}
/* Links */
a {
color: #f45145;
text-decoration: none;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
a:visited {
color: #f45145;
}
a:hover, a:focus, a:active {
color: #f77e75;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
/* Show or hide a11y text */
/* Clearing */
/* =Layout */
.site-header {
background: #242d36;
border-bottom: 5px solid #1e252d;
margin: 0;
position: relative;
width: 100%;
z-index: 100;
}
.site-header img {
display: block;
margin: 0 auto;
max-height: 200px;
}
.bwrapsite-content {
margin: 81px auto 0;
max-width: 55.556em;
}
@media screen and (max-width: 59.306em) {
.bwrapsite-content {
max-width: 41.667em;
}
}
@media screen and (max-width: 47.2226em) {
.bwrapsite-content {
margin-top: 54px;
}
}
.content-area {
float: left;
margin: 0 -25% 0 0;
width: 100%;
}
@media screen and (max-width: 47.2226em) {
.content-area {
clear: both;
float: none;
margin: 0 auto;
}
}
.bwrapsite-main,
.page-template-nosidebar-page-php .bwrapsite-main {
margin: 0 15%;
}
@media screen and (max-width: 59.306em) {
.bwrapsite-main,
.page-template-nosidebar-page-php .bwrapsite-main {
margin: 0 auto;
}
}
.right-sidebar .bwrapsite-main {
margin: 0 30% 0 0;
}
@media screen and (max-width: 47.2226em) {
.right-sidebar .bwrapsite-main {
clear: both;
float: none;
margin: 0 auto;
}
}
.bwrapsite-content .bwrapwidget-area {
float: right;
overflow: hidden;
width: 25%;
}
@media screen and (max-width: 47.2226em) {
.bwrapsite-content .bwrapwidget-area {
clear: both;
float: none;
margin: 27px auto 0;
padding: 0 27px;
width: 100%;
}
}
.site-footer {
background: #242d36;
border-top: 5px solid #1a2027;
clear: both;
color: #f0f1f3;
font-size: 0.73333em;
line-height: 1.8em;
margin: 27px auto 0;
padding: 27px;
text-align: center;
width: 100%;
}
.site-footer a {
color: #f0f1f3;
text-decoration: none;
}
.site-info {
margin: 0 auto;
max-width: 55.556em;
}
@media screen and (max-width: 59.306em) {
.site-info {
max-width: 41.667em;
}
}
/* =Header */
.site-header-wrapper {
margin: 0 auto;
max-width: 55.556em;
}
@media screen and (max-width: 59.306em) {
.site-header-wrapper {
max-width: 41.667em;
}
}
.bwrapsite-branding {
float: left;
margin: 13.5px 0 8.5px;
max-width: 60%;
}
@media screen and (max-width: 47.2226em) {
.bwrapsite-branding {
clear: both;
float: none;
margin: 27px auto;
max-width: 100%;
text-align: center;
width: 100%;
}
}
.site-title {
font-size: 1.27778em;
line-height: 1.17391em;
margin: 0;
}
.site-title a {
color: #f0f1f3;
padding: 0;
text-decoration: none;
}
.site-description {
color: rgba(240, 241, 243, 0.6);
font-size: 0.83333em;
line-height: 1.8em;
font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
margin: 0;
}
.togglesnbtdiv {
float: right;
margin: 13.5px 0 8.5px;
text-align: right;
width: 33%;
}
@media screen and (max-width: 47.2226em) {
.togglesnbtdiv {
clear: both;
float: none;
width: 100%;
text-align: center;
}
}
.togglesnbtdiv .togglenbtclass {
cursor: pointer;
display: inline-block;
}
.togglesnbtdiv .togglenbtclass.active:before {
color: white;
}
.togglesnbtdiv .togglenbtclass:hover:before {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
color: white;
}
.togglesnbtdiv .togglenbtclass:before {
vertical-align: middle;
font-size: 1.61111em;
line-height: 1.86207em;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #f45145;
border-radius: 50%;
color: rgba(255, 255, 255, 0.6);
cursor: pointer;
display: block;
line-height: 50px;
margin-left: 6.75px;
position: relative;
text-align: center;
width: 50px;
height: 50px;
}
@media screen and (max-width: 47.2226em) {
.togglesnbtdiv .togglenbtclass:before {
margin: 0 3.375px;
}
}
.togglesnbtdiv #menu-toggle:before {
background-color: #f45145;
content: "\f0c9";
font-family: FontAwesome;
font-size: 1.27778em;
line-height: 1.17391em;
line-height: 50px;
top: -2px;
}
.togglesnbtdiv #sidebar-toggle:before {
line-height: 50px;
background-color: #f77e75;
content: "\f013";
font-family: FontAwesome;
}
.togglesnbtdiv #social-links-toggle:before {
font-size: 1.61111em;
line-height: 1.86207em;
line-height: 50px;
background-color: #cdd851;
content: "\f004";
font-family: FontAwesome;
}
.togglesnbtdiv #search-toggle:before {
line-height: 50px;
background-color: #b1e8e6;
content: "\f002";
font-family: FontAwesome;
}
.panel .bwrapwidget-area:before,
.panel .bwrapwidget-area:after {
content: "";
display: table;
}
.panel .bwrapwidget-area:after {
clear: both;
}
.panel {
display: none;
margin: 0;
position: relative;
width: 100%;
z-index: 3;
}
.panel#social-links-toggle-nav {
background: #cdd851;
border-bottom: 5px solid #c6d238;
}
.panel#search-toggle-nav {
background: #b1e8e6;
border-bottom: 5px solid #a5e5e2;
}
.panel#menu-toggle-nav {
background: #f45145;
border-bottom: 5px solid #f23628;
}
.panel#sidebar-toggle-nav {
background: #f77e75;
border-bottom: 5px solid #f56358;
}
.panel .bwrapwidget-areas:before,
.panel .bwrapwidget-areas:after {
content: "";
display: table;
}
.panel .bwrapwidget-areas:after {
clear: both;
}
.panel .bwrapwidget-areas {
margin: 0 auto;
max-width: 55.556em;
padding: 13.5px 0 0;
}
@media screen and (max-width: 59.306em) {
.panel .bwrapwidget-areas {
padding: 27px;
}
}
.panel .bwrapwidget-area {
color: white;
float: left;
margin-right: 5%;
width: 30%;
}
.panel .bwrapwidget-area .widget {
line-height: 1.8em;
}
.panel .bwrapwidget-area .widget a {
color: white;
}
.panel .bwrapwidget-area .widget .widget-title {
color: white;
}
.panel .bwrapwidget-area .widget .widget h2 {
color: white;
}
@media screen and (max-width: 47.2226em) {
.panel .bwrapwidget-area {
clear: both;
float: none;
width: 100%;
}
}
.panel .bwrapwidget-area:nth-of-type(3n) {
margin-right: 0;
}
.panel .search-wrapper {
margin: 0 auto;
max-width: 55.556em;
padding: 13.5px 0;
}
.panel .search-wrapper input[type="search"] {
font-size: 1.27778em;
line-height: 1.17391em;
border: 0;
border-radius: 0;
margin: 0;
padding: 13.5px 27px;
width: 70%;
}
@media screen and (max-width: 47.2226em) {
.panel .search-wrapper input[type="search"] {
font-size: 0.83333em;
line-height: 1.8em;
padding: 13.5px;
}
}
.panel .search-wrapper input[type="submit"] {
font-size: 1.27778em;
line-height: 1.17391em;
float: right;
margin: 0;
width: 25%;
}
@media screen and (max-width: 47.2226em) {
.panel .search-wrapper input[type="submit"] {
font-size: 0.83333em;
line-height: 1.8em;
padding: 13.5px 6.75px;
width: 28%;
}
}
@media screen and (max-width: 59.306em) {
.panel .search-wrapper {
max-width: 41.667em;
}
}
@media screen and (max-width: 47.2226em) {
.panel .search-wrapper {
padding-left: 27px;
padding-right: 27px;
}
}
/* =Menu */
.main-navigation {
font-size: 0.83333em;
line-height: 1.8em;
color: #f77e75;
display: block;
margin: 0 auto;
padding: 13.5px 0;
position: relative;
max-width: 55.556em;
text-align: center;
width: 100%;
}
.main-navigation ul {
list-style: none;
margin: 0;
padding-left: 0;
position: relative;
}
.main-navigation ul li:hover > ul {
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
visibility: visible;
}
.main-navigation ul ul {
display: block;
float: left;
left: -6.75px;
position: absolute;
top: 27px;
text-align: left;
opacity: 0;
visibility: hidden;
z-index: 999;
}
.main-navigation ul ul a {
line-height: 1.19118em;
width: 216px;
padding: 13.5px;
}
.main-navigation ul ul a:hover {
color: #f0f1f3;
}
.main-navigation ul ul:before {
border-top: 0;
border-left: 13.5px solid transparent;
border-right: 13.5px solid transparent;
border-bottom: 13.5px solid #242d36;
content: "";
display: block;
position: relative;
top: 0;
left: 27px;
width: 0;
height: 13.5px;
}
.main-navigation ul ul ul {
left: 100%;
top: 0;
}
.main-navigation ul ul ul:before {
display: none;
}
.main-navigation li {
display: inline-block;
margin: 3.375px 13.5px;
position: relative;
}
@media screen and (max-width: 47.2226em) {
.main-navigation li {
margin: 0;
}
}
.main-navigation li li {
background: #242d36;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
margin: 0;
}
.main-navigation a {
color: rgba(255, 255, 255, 0.6);
display: inline-block;
text-decoration: none;
}
.main-navigation a:hover {
color: white;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a {
color: white;
}
@media screen and (max-width: 47.2226em) {
.main-navigation {
padding-top: 0;
}
.main-navigation ul {
list-style: none;
margin: 0;
padding: 0;
text-align: left;
}
.main-navigation ul ul {
display: block;
float: none;
opacity: 1;
position: relative;
visibility: visible;
top: auto;
}
.main-navigation ul ul:before {
display: none;
}
.main-navigation ul ul li {
background: transparent;
border-bottom: 0;
}
.main-navigation ul ul a {
padding: 13.5px 13.5px 13.5px 27px;
width: auto;
}
.main-navigation ul ul ul {
left: auto;
top: auto;
}
.main-navigation ul ul ul a {
padding-left: 54px;
}
.main-navigation ul li:hover > ul {
display: block;
}
.main-navigation li {
display: block;
position: relative;
}
.main-navigation a {
border-top: 1px solid rgba(255, 255, 255, 0.25);
color: white;
display: block;
padding: 13.5px;
text-decoration: none;
}
.main-navigation ul:first-child > li:first-child > a {
border-top: 0;
}
}
.secondary-navigation {
font-size: 0.83333em;
line-height: 1.8em;
margin: 27px 0;
text-align: center;
}
.secondary-navigation ul {
list-style: none;
margin: 0 27px;
padding: 0;
}
.secondary-navigation li {
display: inline-block;
list-style: none;
margin: 0 10px 0 0;
}
.secondary-navigation li:after {
content: "\f0c1";
margin: 0 0 0 9px;
font-family: FontAwesome;
}
.secondary-navigation li:last-of-type:after {
display: none;
}
.secondary-navigation a {
color: #9ba2af;
}
/* =Content */
.entry-format {
background: transparent;
color: transparent;
z-index: 4;
}
.hentry {
background-color: white;
border-top: 8px solid #f45145;
margin: 0 0 81px;
padding: 27px 27px 22px;
position: relative;
}
.hentry:after {
border-top: 3px solid #f23628;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 0;
z-index: 1;
}
.hentry:before {
content: "\f0c1";
z-index: 2;
font-family: FontAwesome;
}
@media screen and (max-width: 47.2226em) {
.hentry {
margin-bottom: 54px;
}
}
.search-no-results .hentry:before {
display: none;
}
.search-no-results .hentry .search-field {
display: block;
float: left;
margin-right: 13.5px;
}
.error404 .hentry:before {
display: none;
}
.error404 .hentry .search-field {
display: block;
float: left;
margin-right: 13.5px;
}
.nbtbyline {
}
.single .nbtbyline,
.group-blog .nbtbyline {
display: inline;
}
.entry-content,
.entry-summary {
margin-bottom: 17px;
margin-top: 17px;
}
.entry-thumbnail img {
display: block;
margin: 0 auto;
}
a.nbtmore-link {
font-size: 0.83333em;
line-height: 1.8em;
color: #9ba2af;
text-decoration: none;
}
.entry-title {
line-height: 1.14894em;
color: #f45145;
margin: 20px 0;
text-align: center;
}
.entry-title a {
color: #f45145;
text-decoration: none;
}
@media screen and (max-width: 47.2226em) {
.entry-title {
font-size: 1.61111em;
line-height: 1.86207em;
line-height: 1.39655em;
}
}
.nbtentry-meta, .nbtentry-meta a, .pingback .edit-link {
color: #9ba2af;
font-size: 0.83333em;
line-height: 1.8em;
}
.nbtentry-meta a, .pingback .edit-link a {
font-size: inherit;
}
.nbtcomments-link,
.nbtpost-date,
.sticky .nbtpost-date,
.nbttags-links,
.nbtbyline,
.edit-link {
margin-right: 15px;
}
.nbtcomments-link a,
.nbtpost-date a,
.sticky .nbtpost-date a,
.nbttags-links a,
.nbtbyline a,
.edit-link a {
text-decoration: none;
}
.nbtcomments-link:before,
.nbtpost-date:before,
.sticky .nbtpost-date:before,
.nbttags-links:before,
.nbtbyline:before,
.edit-link:before {
margin-right: 8px;
}
@media screen and (max-width: 47.2226em) {
.nbtcomments-link,
.nbtpost-date,
.sticky .nbtpost-date,
.nbttags-links,
.nbtbyline,
.edit-link {
clear: both;
display: block;
float: none;
margin: 0;
width: 100%;
}
}
.nbtcomments-link:before {
content: "\f075";
font-family: FontAwesome;
}
.nbtpost-date:before {
content: "\f017";
font-family: FontAwesome;
}
.nbttags-links:before {
content: "\f02b";
font-family: FontAwesome;
}
.nbtbyline:before {
content: "\f007";
font-family: FontAwesome;
}
.sep {
margin: 0 6.75px;
}
.page-title {
color: #9ba2af;
display: inline-block;
font-size: 1.27778em;
line-height: 1.17391em;
margin: 0 0 54px;
}
@media screen and (max-width: 47.2226em) {
.page-title {
padding: 0 27px;
text-align: center;
}
}
.page-title:before {
font-size: 1.33333em;
line-height: 2.25em;
line-height: 1.125em;
margin-right: 3px;
}
/* Search */
.search-results .page .sep:first-of-type {
display: none;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
max-width: 100%;
}
/* =Widgets */
.panel .bwrapwidget-area .widget {
font-size: 0.83333em;
margin-bottom: 27px;
overflow: hidden;
}
#secondarybwrap .widget {
font-size: 0.83333em;
line-height: 1.8em;
margin-bottom: 27px;
overflow: hidden;
}
.widget select {
max-width: 100%;
margin-left: 1px;
}
#secondarybwrap .widget a, .panel .bwrapwidget-area .widget a {
text-decoration: none;
}
.widget-title {
font-size: 1.27778em;
line-height: 1.17391em;
color: #242d36;
margin: 13.5px 0;
}
.panel .bwrapwidget-area .widget h2 {
font-size: 1.27778em;
line-height: 1.17391em;
margin: 13.5px 0;
}
#secondarybwrap .widget h2 {
font-size: 1.27778em;
line-height: 1.17391em;
color: #242d36;
margin: 0 0 13.5px 0;
}
.widget_search input {
border-color: #e2e4e8;
width: 100%;
}
.widget_search input[type="submit"] {
display: none;
}
@media screen and (max-width: 47.2226em) {
.widget_search input[type="submit"] {
font-size: 1.27778em;
line-height: 1.17391em;
display: block;
}
}
/* =Social Links */
.bwrapsocial-links {
margin: 0 auto;
max-width: 55.556em;
padding: 13.5px 0;
text-align: center;
}
.bwrapsocial-links ul {
list-style: none;
margin: 0;
padding: 0;
}
.bwrapsocial-links ul li {
display: inline-block;
list-style: none;
margin: 0;
}
.bwrapsocial-links ul a {
display: inline-block;
margin-right: 4.5px;
text-decoration: none;
}
.bwrapsocial-links ul a:before {
font-size: 1.77778em;
line-height: 1.6875em;
background: rgba(255, 255, 255, 0.5);
border-radius: 50%;
color: #cdd851;
display: block;
line-height: 1;
margin-top: 6.75px;
margin-bottom: 6.75px;
padding: 9px;
text-align: center;
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
width: 1.6em;
}
.bwrapsocial-links ul a:hover {
text-decoration: none;
}
.bwrapsocial-links ul a:hover:before {
background: white;
text-decoration: none;
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.bwrapsocial-links ul:last-of-type {
margin-right: 0;
}
.bwrapsocial-links ul a[href*="facebook.com"]:before {
content: "\f09a";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="twitter.com"]:before {
content: "\f099";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="dribbble.com"]:before {
content: "\f17d";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="plus.google.com"]:before {
content: "\f0d5";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="pinterest.com"]:before {
content: "\f0d2";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="github.com"]:before {
content: "\f09b";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="tumblr.com"]:before {
content: "\f173";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="youtube.com"]:before {
content: "\f167";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="flickr.com"]:before {
content: "\f16e";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="vimeo.com"]:before {
content: "\f194";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="instagram.com"]:before {
content: "\f16d";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="linkedin.com"]:before {
content: "\f0e1";
font-family: FontAwesome;
}
.bwrapsocial-links ul a[href*="/feeds/posts/default"]:before {
content: "\f09e";
font-family: FontAwesome;
}
.bwrapsocial-links ul a:before {
content: "\f064";
font-family: FontAwesome;
}
.related-postbwrap {
margin: 10px auto 0;
font-size: 90%;
}
.related-postbwrap h4 {
font-weight:  bold;
margin: 0 0 .5em;
}
.related-post-style-2, .related-post-style-2 li {
list-style: none;
margin: 0;
padding: 0;
}
.related-post-style-2 li {
border-top: 1px solid #eee;
overflow: hidden;
padding: 10px 0px;
}
.related-post-style-2 li:first-child {
border-top: none;
}
.related-post-style-2 .related-post-item-thumbnail {
width: 80px;
height: 80px;
max-width: none;
max-height: none;
background-color: transparent;
border: none;
float: left;
margin: 2px 10px 0 0;
padding: 0;
}
.related-post-style-2 .related-post-item-title {
font-weight: bold;
font-size: 100%;
}
.related-post-style-2 .related-post-item-summary {
display: block;
}
h2.date-header {
margin: 10px 0px;
display: none;
}
.main .widget {
margin: 0 0 5px;
padding: 0 0 2px;
}
.main .Blog {
border-bottom-width: 0;
}
#header .description {
color:#ffffff;
font-size:14px;
text-shadow:0px 1px 0px #000000;
}
/* Comments----------------------------------------------- */
#comments {
padding:15px;
margin-bottom:20px;
background: #fff;
}
#comments h4 {
font-size:22px;
margin-bottom:10px;
}
.deleted-comment {
font-style: italic;
color: gray;
}
#blog-pager-newer-link {
float: left;
}
#blog-pager-older-link {
float: right;
}
#blog-pager {
text-align: center;
padding:5px;
}
.feed-links {
clear: both;
}
.comment-form {
max-width: 600px;
}
#navbar-iframe {
height: 0;
visibility: hidden;
display: none;
}
.PopularPosts .widget-content ul li {
padding:6px 0px;
}
.reaction-buttons table{
border:none;
margin-bottom:5px;
}
.reaction-buttons table, .reaction-buttons td{
border:none !important;
}
.pbtthumbimg {
float:left;
margin:0px 10px 5px 5px;
padding:4px;
width:200px;
height:150px;
}
