@import url("https://fonts.googleapis.com/css?family=Patua+One");

body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/photoframe.jpg);
    background-repeat: repeat-x;
    background-size: cover;
}

p{
    padding: 16px 16px 60px 16px;
    margin: 16px;
    font-size: 5vw;
    font-family: 'Patua One', cursive;
    color: #ea8d5b;
    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 2px;
}

@media screen and (max-width: 920px){
    body{
        background-image: url(/images/photoframe.jpg);
        background-repeat: repeat-x;
        background-size: 920px;
    }

}

.myButton {
    background-color:#317572;
    display: inline-block;
    cursor:pointer;
    font-size: 4vw;
    padding: 25px 30px;
    text-decoration:none;
    border: 0;
    transition: all 0.6s ease 0s;
    font-family: 'Patua One', cursive;
}
.myButton:hover {
    background-color: #b88aa1;
}

.myButton:active {
    position:relative;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.navbar{
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    position: static;
    /*background-color: #317572;*/
    background-color: rgba(49, 117, 114, 0.7);
    border-radius: 15px 15px 0px 0px;
}

.navbar-content{
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    margin-right: 20px;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Patua One', cursive;
}

.stretchedToMargin {
	display: block;
	position:absolute;
	height:auto;
	bottom:-285px;
	top:0;
	left:0;
	right:0;
	margin-top:20px;
	margin-bottom:10px;
	margin-right:80px;
	margin-left:80px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}
	/*_____________________________________________________________________*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="date"],
#contact input[type="password"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: transparent;
    padding: 25px;
    margin: 20px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
color: white;
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
color: white;
    margin: 5px 0 15px;
    display: block;
    font-size: 20px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="date"],
#contact input[type="password"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="date"]:hover,
#contact input[type="password"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact button[type="aux"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="aux"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="aux"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}
